.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;

  /* height: 100%; */
}

.gallery-container > img {
  height: 250px;
  width: 250px;
  padding: 10px;
  margin: 14px;
  border: 1px solid white;
}

.gallery__title-bar {
  background-color: black;
    /* & > p {
      color: white;
      padding: 4px;
      padding-top: 5px;
      margin-left: 26px;
      font-size: smaller;
    } */
}

#closeGallery {
  background-color: black;
}

#closeGallery:hover {
  background-color: rgb(39, 39, 39);
}