#gameApp {
  background-color: #f17746;
  background-image: url("img/game-launcher/illustration-5120762_1920.jpg");
  background-size: 100% 100%;
}

.form-container {
  background-color: #7c7c7c93;
  border-radius: 2px;

  height: 45%;
  width: 45%;
  position: absolute;
  top: 40px;
  left: 27.5%;

}