* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: url("img/desktop/wp5493583-windows-10-default-wallpapers.jpg");
  background-color: #33ccff;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#desktop {
  // border: 1px solid red;
  height: 93vh;

  display: flex;
  flex-direction: column;
  gap: 2%;
}



.icon-container {
  display: flex;
  flex-direction: column;
  width: 85px;
  align-items: center;

  margin: 1px;

  // border: 1px solid red;
}

.icon-container:hover {
  background-color: #80ccff60;
  border: 1px solid #80ccff;
}

.app-icon {
  padding: 5% 10% 0% 10%;
}

// .icon-container * {
//   padding: 5% 10%;
// }

.icon-name {
  color: white;
  text-shadow: 0px 2px 5px #000033;
  font-size: small;
  text-align: center;
}

#taskbar {
  display: flex;
  justify-content: space-between;
}

#taskbar {
  height: 48px; //7vh; //48px;
  width: 100%;
  background-color: #1c2d3d;

  position: fixed;
  bottom: 0;
}

#menuButton {
  // border: 1px solid white;
  width: 48px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#menuButton:hover {
  background-color: #353f47;
}

#menuImage {
  height: 50%;
  width: 50%;
}

#clock {
  // border: 1px solid red;
  // background-color: green;
  width: 90px;
  height: 100%;
  color: white;
  font-size: smaller;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#clock:hover {
  background-color: #353f47;
}

// menu styles below

// #menuContainer {
//   position: fixed;
//   z-index: 2;
//   height: 100%;
//   width: 100%;
// }

.menu {
  position: fixed;
  bottom: 48px;
  z-index: 3;

  height: 350px;
  width: 404px;

  color: white;
  background-color: #1f333a;

  display: flex;
  flex-direction: column;
}

.menu-item { 
  height: 55px;
  width: 400px;

  //border: 1px solid red;

  display: flex;
  flex-direction: row;
  padding: 2px;
}

.menu-item:hover {
  background-color: #344146;
}

.menu-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;

  //border: 1px solid purple;
}

.menu-item-icon > img {
  height: 40px;
  width: 40px;
}

.menu-item-name {
  width: 345px;

  //border: 1px solid yellow;
  display: flex;
  align-items: center;
}

.menu-item-name > p {
  margin-left: 8px;
}

// modal styling below
.app-modal {
  height: 60%;
  width: 50%;
  position: fixed;
  top: 15.75vh;
  left: 25%;
  border: 2px solid white;
}

.title-bar {
  height: 25px;
  width: 100%;
}

.close-btn {
  width: 40px;
  height: 25px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: transparent;
  font-weight: bolder;

    &:hover {
      background-color: rgba(39, 39, 39, 0.548);
    }
}