* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: url("wp5493583-windows-10-default-wallpapers.jpg");
  background-color: #33ccff;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#desktop {
  // border: 1px solid red;
  height: 93vh;

  display: flex;
  flex-direction: column;
  gap: 2%;
}

#taskbar {
  height: 7vh; //48px;
  background-color: #000033;
}

.icon-container {
  display: flex;
  flex-direction: column;
  width: 85px;
  align-items: center;

  margin: 1px;

  // border: 1px solid red;
}

.icon-container:hover {
  background-color: #80ccff60;
  border: 1px solid #80ccff;
}

.app-icon {
  padding: 5% 10% 0% 10%;
}

// .icon-container * {
//   padding: 5% 10%;
// }

.icon-name {
  color: white;
  text-shadow: 0px 2px 5px #000033;
  font-size: small;
  text-align: center;
}

#taskbar {
  display: flex;
  justify-content: space-between;
}

#menu-button {
  // border: 1px solid white;
  width: 48px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-button:hover {
  background-color: #2c2c3f;
}

#menu-image {
  height: 50%;
  width: 50%;
}

#clock {
  // border: 1px solid red;
  // background-color: green;
  width: 90px;
  height: 100%;
  color: white;
  font-size: smaller;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#clock:hover {
  background-color: #2c2c3f;
}

// modal styles

dialog {
  height: 60%;
  width: 50%;
  position: fixed;
  top: 15.75vh;
  left: 25%;
  border: 2px solid white;
}

.close-btn {
  width: 40px;
  height: 25px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: red;
  font-weight: bolder;
}

#game-app {
  
}