* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: url("wp5493583-windows-10-default-wallpapers.jpg");
  background-color: #33ccff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#desktop {
  height: 93vh;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

#taskbar {
  height: 7vh;
  background-color: #000033;
}

.icon-container {
  display: flex;
  flex-direction: column;
  width: 85px;
  align-items: center;
  margin: 1px;
}

.icon-container:hover {
  background-color: rgba(128, 204, 255, 0.3764705882);
  border: 1px solid #80ccff;
}

.app-icon {
  padding: 5% 10% 0% 10%;
}

.icon-name {
  color: white;
  text-shadow: 0px 2px 5px #000033;
  font-size: small;
  text-align: center;
}

#taskbar {
  display: flex;
  justify-content: space-between;
}

#menu-button {
  width: 48px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-button:hover {
  background-color: #2c2c3f;
}

#menu-image {
  height: 50%;
  width: 50%;
}

#clock {
  width: 90px;
  height: 100%;
  color: white;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#clock:hover {
  background-color: #2c2c3f;
}

.modal {
  height: 60%;
  width: 50%;
  position: fixed;
  top: 15.75vh;
  left: 25%;
  border: 2px solid white;
  background-color: white;
}

.close-btn {
  width: 40px;
  height: 25px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: red;
  font-weight: bolder;
}
